* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    text-decoration: none;
}

:root {
    --cinza: #787777;
    --cinzento: #2C2723;
    --branco: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--cinza);
    height: 100vh;
}


nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;

    .container { 
       gap: 5px;
       display: flex;
       width: 100%;
       max-width: 1100px;
       margin: 10px;
       flex-direction: row;

    }

    .home {
     
        width: 300px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
    }


    & p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        padding: 10px 20px;

    }

    & h1 {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 900px;
        gap: 40px;
    }

    & a {
        
        width: 900px;
        border: 1px solid white;
        background-color: var(--branco);
        color: var(--black);
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 4px;
        cursor: pointer;
    }
}

#sec1 {
    text-align: center;
    background-color: var(--cinzento);
    padding-top: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    & #titulo {
        text-align: center;
        margin-top: 4px;
        gap: 5px;
        font-size: 50px;

    }

    & #compra {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: var(--branco);
    }

    & #btn {
        padding: 10px 60px;
        color: var(--black);
        background-color: var(--branco);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;

    }
}

.Container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;

    & p {
        text-align: center;
        display: flex;
        color: var(--branco);
    }
}